{% extends 'base.html' %}

{% block header %}
    <title>Korean Baptist Church</title>
    <h1 class="content" style="text-align: center;">Korean Baptist Church of Roanoke</h1>
{% endblock %}


{% block body %}
    <h1 class="content text-center">ABOUT PAGE</h1>

    <!-- staff -->
    <h4 class="content text-center">Staff</h4>
    <div class="container" style="padding-bottom: 20px;">
        <!-- row 1 -->
        <div class="row" id="eachRow">
            <div class="col-sm"> <h1 class="card text-center">empty</h1></div>

            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_male.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Head Pastor</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm"> <h1 class="card text-center">empty</h1></div>
        </div>
        <!-- row 2 -->
        <div class="row" id="eachRow">
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_fem.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_male.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_fem.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- row 3 -->
        <div class="row" id="eachRow">
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_male.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_fem.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!-- person -->
            <div class="col-sm">
                <div class="card mx-auto" style="width: 15rem;" id="aboutPerson">
                    <img src="{{ url_for('static', filename='media/avatar_male.jpg') }}" class="card-img-top" alt="pastor">
                    <div class="card-body">
                        <h5 class="card-title text-center">Church title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- location -->
    <div class="container border-top" style="padding-top: 20px; padding-bottom: 20px;">
        <h4 class="content text-center">Location</h4>

        <div id="map">
            
        </div>
    </div>
{% endblock %}