<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='code/main.css') }}">

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}">

    <!-- navbar begin -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavCollapse" style="margin: 10px;">
            <ul class="navbar-nav mr-auto" id="navbarItemUL">
                <li class="nav-item">
                    <a class="nav-link" href="/" id="navLink">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="outreach" id="navLink">Outreach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about" id="navLink">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="give" id="navLink">Give</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar end -->

    {% block header %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    {% block body %}{% endblock %}


    <!-- announcements for church hours -->
    <div class="container" id="church-hours" style="padding-top: 10px;">
        <div class="row">
            <div class="col-sm text-center">
                <!-- empty -->
            </div>
            <div class="col-sm text-center">
                <p>Sunday Service <br> 8am-1pm</p>
            </div>
            <div class="col-sm text-center">
                <p>Wednesday Service <br> 7pm-9pm</p>
            </div>
        </div>
    </div>

    <footer class="mt-auto" style="padding: 0; margin: 0; background-color: rgba(196, 196, 196, 0.13);">
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <p>Sunday Service <br> 8am-1pm</p>
                </div>
                <div class="col-sm text-center">
                    <p>Wednesday Service <br> 7pm-9pm</p>
                </div>

                <div class="col text-center">
                    Contact
                    <div class="col text-center">
                        <a href="tel:+15407724222">540-772-4222</a>
                    </div>
                </div>
                <div class="col text-center">
                    Address
                    <div class="col text-center">
                        <p>5422 Starkey Road <br> Roanoke, VA 24018</p>
                    </div>
                </div>
                <div class="col text-center">
                    Designed By
                    <div class="col text-center">
                        <p>Companion WebDesign (TM)</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
    
</html>