{% extends 'base.html' %}

{% block header %}
    <title>Korean Baptist Church</title>
    <h1 class="content" style="text-align: center;">Korean Baptist Church of Roanoke</h1>
{% endblock %}


{% block body %}
    <h1 class="content text-center">GIVE PAGE</h1>

    <div class="row">
        <div class="col-sm text-center" style="padding: 10px 100px 10px 20px; padding-right: 20px;">
            <h3>Donate to the church</h3>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col-sm">
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
            <div class="col"></div>
            <div class="col" id="paypal">
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="J8RLLXQ6CPH9G" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
            <div class="col"></div>
        </div>
    </div>


{% endblock %}