{% extends 'base.html' %}

{% block header %}
    <title>Korean Baptist Church</title>
{% endblock %}


{% block body %}

    <!-- <div id="textCarouselContainer"> -->
        <div class="carouselOverlay" id="text">
            <h1 class="content text-center">Welcome</h1>
            <h5 class="content text-center">Korean Baptist Church of Roanoke</h5>
            <p class="content text-center">Serving the Roanoke community and building relationships.</p>
        </div>
        <!-- image div -->
        <div class="carousel" id="carousel">
            <!-- image carousel begin -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" id="img-fluid" src="{{ url_for('static', filename='media/church_1.jpg') }}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Picture</h5>
                            <p>Painting by Michelangelo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second Picture</h5>
                        <p>St. Peter's Basilica Interior</p>
                    </div>
                    <img class="d-block" id="img-fluid" src="{{ url_for('static', filename='media/church_2.jpg') }}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block" id="img-fluid" src="{{ url_for('static', filename='media/church_3.jpg') }}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third Picture</h5>
                        <p>Vatican Church Interior</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block" id="img-fluid" src="{{ url_for('static', filename='media/church_4.jpg') }}" alt="Fourth slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fourth Picture</h5>
                        <p>St John the Baptist</p>
                    </div>
                </div>
            </div>
            <!-- image carousel end -->
        </div>

    <!-- some other div -->
    <div>
        <h5>dude where's my car!</h5>
    </div>

    <!-- announcement of church hours -->
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Join Us</h4>

                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h6>Weekend Service</h6>
                            <p>Sunday <br> 8am to 1pm</p>
                        </div>
                        <div class="col text-center">
                            <h6>Night Service</h6>
                            <p>Wednesday <br> 7pm to 9pm</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}